<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<insert id="insert" parameterType="boardDTO" useGeneratedKeys="true" keyProperty="seq">
		<![CDATA[
			insert into board(title,writer,content) 
			values(#{title},#{writer},#{content}) 
		]]>
	</insert>
	
	<select id="select_list" parameterType="hashmap" resultType="boardDTO">
	<![CDATA[
			select seq, title, writer, content, regdate, cnt
			from board where 1=1 
		]]>
		<if test='option != null'>
			<if test='option.equals("title")'>
				and title like CONCAT('%',#{searchWord},'%')  
			</if>
			<if test='option.equals("writer")'>
				and writer like CONCAT('%',#{searchWord},'%')  
			</if>
		</if>
	<![CDATA[
		order by regdate desc 
		]]>
	</select>
	
	<select id="select_id" parameterType="bookDTO" resultType="bookDTO">
	<![CDATA[
			select book_id, title, category, price, insert_date 
			from book  
			where book_id = #{bookId} 
			order by insert_date desc 
		]]>
	</select>
	
	<select id="select_detail" parameterType="boardDTO" resultType="boardDTO">
	<![CDATA[
			select seq, title, writer, content, regdate, cnt  
			from board  
			where seq = #{seq} 
		]]>
	</select>
	
	<update id="update" parameterType="boardDTO">
		<![CDATA[
			update board set 
			title = #{title}, content=#{content} where seq = #{seq} 
		]]>
	</update>
	
	<update id="update_cnt" parameterType="boardDTO">
		<![CDATA[
			update board set 
			cnt = cnt + 1  where seq = #{seq} 
		]]>
	</update>
	
	<delete id="delete" parameterType="bookDTO">
		<![CDATA[
			delete from board where seq = #{seq} 
		]]>
	</delete>
	
</mapper>